<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean turpis sapien, sollicitudin id varius quis, congue et lorem. Etiam egestas nibh eget nulla venenatis ultricies. Duis urna arcu, blandit a leo in, condimentum fermentum sapien. Vivamus volutpat diam ac eros pulvinar, et ultricies ante vehicula. Duis in nibh quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut mi ante, cursus non ex pellentesque, auctor lobortis lorem. Fusce sed risus pulvinar, lobortis arcu vel, consequat dui. Mauris ac ultricies turpis.
</p>
<p>
Cras rutrum, leo eu fringilla consectetur, purus nulla hendrerit urna, et fringilla ante sapien sit amet diam. Nunc blandit, sem eget pellentesque pretium, purus nibh gravida sem, vulputate pretium arcu nibh iaculis neque. Sed nec sem ut magna ultricies fermentum vitae at felis. Nullam dignissim at ante in cursus. Sed risus neque, maximus nec massa a, dictum congue dolor. Nam lacinia tincidunt commodo. Curabitur sit amet nisl ultricies, aliquam purus vel, dictum purus. 
</p>
<div>
    <mat-form-field style="padding-right: 5px;">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [(ngModel)]="email" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
    <button mat-flat-button color="accent" (click)="getStarted()">get started</button>
</div>
  