<div style="height:100%; width:100%;display: grid;grid-template-columns: 52.8% 23.6% 23.6%;grid-template-rows: 76.4% 23.6%;">
    <div style="background-color: #eee;grid-column: 1/4;overflow-y: scroll;">
        <app-content></app-content>
    </div>
    <div style="background-color: #ddd;">
        <app-verbs></app-verbs>
    </div>
    <div style="background-color: #eee;overflow-y: scroll;">
        <app-inventory></app-inventory>
    </div>
    <div style="background-color: #ddd;">
        <app-movement></app-movement>
    </div>
</div>
<!-- {{adventure}}
<p>The main game screen will need the following:</p>
<ul>
  <li>main game window</li>
  <li>verbs</li>
  <li>movement</li>
  <li>map (optional)</li>
  <li>inventory</li>
  <li>character sheet</li>
  <li>settings/menu/save/load</li>
</ul> -->