<!-- <div style="height: 45%;width:100%">
    <div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
        <div>
            <app-textwindow></app-textwindow>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around" fxFlexFill>
        <div>
            <app-verbs></app-verbs>
        </div>
        <div>
            <app-navigation></app-navigation>
        </div>
    </div>
</div> -->
{{adventure}}
<p>The main game screen will need the following:</p>
<ul>
  <li>main game window</li>
  <li>verbs</li>
  <li>map (optional)</li>
  <li>inventory</li>
  <li>character sheet</li>
  <li>settings/menu/save/load</li>
</ul>