<div style="width:100%; height: 100%;">
    <div [ngStyle]="computeContentStyle()">
        <app-content></app-content>
    </div>
    <div [ngStyle]="computeVerbStyle()">
        <app-verbs></app-verbs>
    </div>
    <div [ngStyle]="computeInventoryStyle()">
        <app-inventory></app-inventory>
    </div>
    <div [ngStyle]="computeMovementStyle()">
        <app-movement></app-movement>
    </div>
</div>
<!-- {{adventure}}
<p>The main game screen will need the following:</p>
<ul>
  <li>main game window</li>
  <li>verbs</li>
  <li>movement</li>
  <li>map (optional)</li>
  <li>inventory</li>
  <li>character sheet</li>
  <li>settings/menu/save/load</li>
</ul> -->